{{#each editors}}
  {{#if this}}
    <template id="{{ this.language }}">
      <ck-codemirror
        {{#if this.accept }} accept="{{this.accept}}" {{/if}}
        {{#if this.updateOn }} update-on="{{this.updateOn}}" {{/if}}
        update-timeout="2000"
        id="{{this.language}}"
        title="{{this.language}}"
        language="{{ this.language }}"
        compile-options='{ "pwd": "{{{../pwd}}}" }'>
        <template>
          {{{this.data}}}
        </template>
      </ck-codemirror>
    </template>
  {{/if}}
{{/each}}

<ck-interactive-demo layout="{{ layout }}" display-toggles="false">
  <div ck-interactive-demo-preview></div>
</ck-interactive-demo>
