<!doctype html>
<html lang="en">
<head>

	{{#if gtm}}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id={{gtm}}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{{gtm}}');
		</script>
	{{/if}}

	<title>{{title}}</title>
	{{#if packageJson.description}}
		<meta name="description" content="{{packageJson.description}}" />
	{{/if}}
	{{#if packageJson.keywords}}
		<meta name="keywords" content="{{packageJson.keywords}}" />
	{{/if}}
	{{#if packageJson.repository}}
		<link rel="canonical" href="{{packageJson.repository.url}}" />
	{{/if}}
	<link rel="stylesheet" href="/dist/css/style.css" />
</head>
<body>

  {{{body}}}

	<script>
		window.app = {
			pwd : '{{pwd}}',
			compileServer : '{{{compileServerSettings}}}'
		};
	</script>
	<script src="/dist/js/browser/app.bundle.js"></script>

</body>
</html>
