<!doctype html>
<html lang="en">
<head>

	{{#if gtm}}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id={{gtm}}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{{gtm}}');
		</script>
	{{/if}}

	<title>{{title}}</title>
	{{#if packageJson.description}}
		<meta name="description" content="{{packageJson.description}}" />
	{{/if}}
	{{#if packageJson.keywords}}
		<meta name="keywords" content="{{packageJson.keywords}}" />
	{{/if}}
	{{#if packageJson.repository}}
		<link rel="canonical" href="{{packageJson.repository.url}}" />
	{{/if}}
	<link rel="stylesheet" href="/dist/css/style.css" />
</head>
<body class="clear-transmations">

	{{#if apps}}
		<ck-drawer name="apps" close-on-click="false" class="drawer drawer--sidemenu">
			<ck-scrollbar>
				<ul class="sidemenu">
					{{#each apps}}
						<li class="sidemenu__item">
							<a href="/app/{{@key}}" title="{{this.config.title}}" {{#isCurrentUrl @key}} class="active" {{/isCurrentUrl}}>
								{{this.config.title}} <span class="s-small">{{this.packageJson.version}}</span>
							</a>
						</li>
					{{/each}}
				</ul>
			</ck-scrollbar>
		</ck-drawer>
	{{/if}}

	<div ck-drawer-content>
		<header class="header">
			<div class="gr gr--flex gr--middle">
				<div class="col col--adapt bkg-primary">
					<div class="header__logo">
						{{#if logo}}
							<img style="height:25px;" class="inline-block" src="/{{logo}}" />
						{{else}}
							<a href="http://coffeekraken.io" title="Coffeekraken.io" target="_blank">
								<div style="width:80px;" class="coffeekraken-logo coffeekraken-logo--white"></div>
							</a>
						{{/if}}
					</div>
				</div>
				<div class="col col--adapt">
					<h1 class="h5 header__title">
						{{#if apps}}
							<label for="apps">
								&nbsp;<ck-icon icon="fas fa-bars"></ck-icon>&nbsp;
							</label>
						{{/if}}
						{{title}}
						{{#if packageJson.version}}
							<span class="small">{{packageJson.version}}</span>
						{{/if}}
					</h1>
				</div>
				{{#if demos}}
					<div class="col col--adapt">
						<div class="header__demos">
							<div class="dropdown dropdown--primary">
								<span class="demos-dropdown">
									Demos&nbsp;&nbsp;<ck-icon icon="fas fa-caret-down"></ck-icon>
								</span>
								<div class="dropdown__menu">
									<div class="dropdown__item">
										<a href="?" title="{{this.title}}">
											Default
										</a>
									</div>
									{{#each demos}}
										<div class="dropdown__item">
											<a href="?demo={{@key}}" title="{{this.title}}">
												{{this.title}}
											</a>
										</div>
									{{/each}}
								</div>
							</div>
						</div>
					</div>
				{{/if}}
				<div class="col col--grow">
				</div>
				<div class="col col--adapt">
					<ul class="nav nav--topbar">
						{{#if packageJson.description}}
							<li class="nav__item nav__item--about">

								<a class="nav__link" href="#description" title="Description" target="_blank">
									<ck-icon icon="fas fa-info-circle"></ck-icon>
									&nbsp;&nbsp;About
								</a>
								<div class="hidden">
									<ck-dialog id="description">
										<div>
											<figure class="ratio-5-1">
												<img class="abs-fit" src="http://coffeekraken.io/dist/img/header-bkg.jpg" />
												<div style="width:150px; position:absolute; top:50%; left:40px; transform:translateY(-50%); max-width:none;">
													{{#if logo}}
														<img style="height:45px;" class="inline-block" src="/{{logo}}" />
													{{else}}
														<a href="http://coffeekraken.io" title="Coffeekraken.io" target="_blank">
															<div style="width:150px; max-width:none;" class="coffeekraken-logo coffeekraken-logo--dialog"></div>
														</a>
													{{/if}}
												</div>
											</figure>
											<div class="p-bigger">
												<h1 class="h3 m-b">
													{{title}}
													{{#if packageJson.version}}
														<span class="small">{{packageJson.version}}</span>
													{{/if}}
												</h1>
												<p class="p p--lead m-b">
													{{packageJson.description}}
												</p>

												{{#if packageJson.homepage}}
													<a href="{{packageJson.homepage}}" class="btn m-r-small" target="_blank">
														<ck-icon icon="fas fa-globe"></ck-icon>
														&nbsp;&nbsp;Go to website
													</a>
												{{/if}}
												{{#if packageJson.repository}}
													<a href="{{packageJson.repository.url}}" class="btn m-r-small" target="_blank">
														<ck-icon icon="fab fa-github"></ck-icon>
														&nbsp;&nbsp;View repository
													</a>
												{{/if}}
												<a class="btn btn--primary m-r" ck-dialog-ok>
													Close
												</a>
												<ul class="list list--contributors m-b pull-right">
													{{#each packageJson.contributors}}
													<li class="list__item relative">
														<a class="block" href="{{this.url}}" title="{{this.name}}" target="_blank">
															<img src="{{this.gravatar}}" />
														</a>
														<div class="tooltip tooltip--secondary tooltip--t">
															{{this.name}}
														</div>
													</li>
													{{/each}}
												</ul>
											</div>
										</div>
									</ck-dialog>
								</div>
							</li>
						{{/if}}
						{{#if packageJson.repository}}
							<li class="nav__item nav__item--share">
								<div class="dropdown dropdown--primary">
									<a class="nav__link" title="Share">
										<ck-icon icon="fas fa-share"></ck-icon>
										&nbsp;Share
									</a>
									<ul class="dropdown__menu">
										<li class="dropdown__item">
											<a is="ck-share" href="{{packageJson.repository.url}}" network="facebook" title="Share on facebook">
												<ck-icon icon="fab fa-facebook"></ck-icon>
												Facebook
											</a>
										</li>
										<li class="dropdown__item">
											<a is="ck-share" href="{{packageJson.repository.url}}" network="twitter" title="Share on twitter">
												<ck-icon icon="fab fa-twitter"></ck-icon> Twitter
											</a>
										</li>
										<li class="dropdown__item">
											<a is="ck-share" href="{{packageJson.repository.url}}" network="linkedin" title="Share on linkedin">
												<ck-icon icon="fab fa-linkedin"></ck-icon> LinkedIn
											</a>
										</li>
									</ul>
								</div>
							</li>
						{{/if}}
						{{#if packageJson.homepage}}
							<li class="nav__item nav__item--website">
								<a class="nav__link" href="{{packageJson.homepage}}" title="Go to website" target="_blank">
									<ck-icon icon="fas fa-globe"></ck-icon>
									&nbsp;&nbsp;Website
								</a>
							</li>
						{{/if}}
						{{#if packageJson.repository}}
							<li class="nav__item nav__item--repository">
								<a class="nav__link" href="{{packageJson.repository.url}}" title="Repository" target="_blank">
									<ck-icon icon="fab fa-github"></ck-icon>&nbsp;&nbsp;Repository
								</a>
							</li>
						{{/if}}
					</ul>
				</div>
			</div>
		</header>

		{{#each editors}}
			{{#if this}}
				<template id="{{ this.language }}">
					<ck-codemirror
						{{#if this.accept }} accept="{{this.accept}}" {{/if}}
						{{#if this.updateOn }} update-on="{{this.updateOn}}" {{/if}}
						update-timeout="2000"
						id="{{this.language}}"
						title="{{this.title}}"
						language="{{ this.language }}">
						<template>
							{{{this.data}}}
						</template>
					</ck-codemirror>
				</template>
			{{/if}}
		{{/each}}

		<ck-interactive-demo layout="{{ config.layout }}" display-toggles="false">
			<div ck-interactive-demo-preview></div>
		</ck-interactive-demo>

		<footer class="footer">
			<div class="gr gr--middle">
				<div class="col col--6">
					<div class="s-small">
						Copyright &copy; <a href="http://coffeekraken.io" class="link" title="Coffeekraken">Coffeekraken</a> - Powered by <a class="link" href="https://github.com/coffeekraken/code-playground" target="_blank">Code Playground</a>
					</div>
					<div class="s-small">
						Distributed under <a href="https://opensource.org/licenses/MIT" class="link" title="MIT license">MIT license</a>
					</div>
				</div>
				<div class="col col--6 t-right">
					<a href="http://coffeekraken.io" title="Coffeekraken.io" target="_blank">
						<div style="width:60px;" class="coffeekraken-logo coffeekraken-logo--footer"></div>
					</a>
				</div>
			</div>
		</footer>

	</div>

	<script>
		window.app = {
			pwd : '{{pwd}}',
			compileServer : '{{{compileServerSettings}}}'
		};
	</script>
	<script src="/dist/js/browser/app.bundle.js"></script>

</body>
</html>
